body 
	{
	color: #6b6c5a;
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	line-height: 22px;
	background-color: #e6e6d9;
	text-align: left;
	margin: 0
	}

#en-tete 
	{
	background-color: #c7c8bc;
	text-align: center;
	visibility: visible;
	position: relative;
	height: 68px
	}

.en-tete-gauche
	{
	background-color: #c7c8bc;
	text-align: right;
	width: 15%;
	float: left
	}

.en-tete-centre
	{
	background-color: #c7c8bc;
	text-align: right;
	width: 70%;
	float: left
	}

.en-tete-droite
	{
	background-color: #c7c8bc;

	width: 15%;
	float: left
	}
	
#navigation 
	{
	color: white;
	font-size: 9px;
	line-height: 16px;
	background-color: #6b6c5a;
	text-align: center;
	letter-spacing: 6px;
	margin-bottom: 15px;
	height: 16px
	}

#logo 
	{
	margin: 0 10px 10px;
	height: 95px
	}

a 
	{
	color: white;
	text-decoration: none
	}

a:hover 
	{
	color: #fc0;
	text-decoration: none
	}
	
.col-gauche 
	{
	text-align: right;
	width: 20%;
	float: left
	}

.element-de-menu
	{
	color: #758642;
	margin-top: 20px;
	margin-left: 20px;
	border-top: 0 none;
	border-right: 0 none;
	border-bottom: 1px dotted #758642;
	border-left: 0 none
	}

.element-de-menu a:link 
	{
	color: #758642;
	text-decoration: none
	}

.element-de-menu a:hover 
	{
	color: #c63;
	text-decoration: none
	}

.col-gauche
	{
	text-align: right;
	width: 20%;
	float: left
	}

.col-milieu
	{
	padding-left: 36px;
	width: 50%;
	float: left
	}

.col-droite
	{
	font-size: 10px;
	font-style: italic;
	line-height: 20px;
	padding-left: 3%;
	width: 15%;
	float: left
	}

#pied-de-page 
	{
	color: white;
	font-size: 9px;
	line-height: 16px;
	background-color: #6b6c5a;
	text-align: center;
	letter-spacing: 6px;
	height: 16px;
	clear: left
	}
