body 
	{
	color: #007179;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	line-height: 22px;
	background-color: #f2f2f2;
	text-align: left;
	margin: 0
	}

img {
    max-width: 100%;
    height: auto;
}

#en-tete 
	{
	text-align: center;
	visibility: visible;
	position: relative;
	height: 68px
	}

.en-tete-gauche
	{
	text-align: right;
	width: 15%;
	float: left
	}

.en-tete-centre
	{
	font-size: 50px;
	margin-top: 20px;
	text-align: center;
	width: 70%;
	float: left
	}

.en-tete-droite
	{
	width: 15%;
	float: left
	}
	
#navigation 
	{
	color: white;
	font-size: 9px;
	line-height: 16px;
	background-color: #007179;
	text-align: center;
	letter-spacing: 6px;
	margin-bottom: 15px;
	height: 16px
	}

a
	{
	color: white;
	text-decoration: none
	}

a:hover 
	{
	color: #fc0;
	text-decoration: none
	}

#logo 
	{
	font-size: 36px;
	text-align: center;
	text-decoration: underline;
	letter-spacing: 6px;
	line-height: 40px;
	margin: 0 10px 10px;
	height: 40px
	}

#affichage 
	{
	}
	
.col-gauche 
	{
	text-align: right;
	margin-left: 8px;
	margin-right: 8px;
	width: 20%;
	float: left
	}

.element-de-menu
	{
	color: #758642;
	margin-top: 20px;
	margin-left: 20px;
	border-top: 0 none;
	border-right: 0 none;
	border-bottom: 1px dotted #758642;
	border-left: 0 none
	}

.element-de-menu a 
	{
	color: #758642;
	text-decoration: none
	}

.element-de-menu a:hover 
	{
	color: #c63;
	text-decoration: none
	}

.col-milieu
	{
	text-align: center;
	padding-left: 36px;
	width: 50%;
	float: left
	}

.col-droite
	{
	font-size: 10px;
	font-style: italic;
	line-height: 20px;
	padding-left: 3%;
	width: 15%;
	float: left
	}

.question 
	{
	text-align: right;
	width: 50%;
	float: left
	}

.reponse
	{
	text-align: left;
	width: 50%;
	float: left
	}

.erreur
	{
	display: inline;
	color: yellow;
	line-height: 16px;
	background-color: red;
	text-align: center;
	}
